# Залежності (найголовніше)
node_modules/
frontend/node_modules/

# Збірка (результат побудови проєкту)
dist/
frontend/dist/

# Локальні змінні середовища (паролі, ключі)
.env
.env.local

# Логи помилок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системні файли та налаштування редактора
.DS_Store
.vscode/
.idea/